<a href="https://colab.research.google.com/github/MizanMustakim/big_data_processing_final_project/blob/Mizan/DataAcquisition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# jupyter notebook --NotebookApp.allow_origin='https://colab.research.google.com' --port=8888 --NotebookApp.port_retries=0

In [ ]:
# !wget http://setup.johnsnowlabs.com/colab.sh -O - | bash

In [23]:
!wget https://storage.googleapis.com/kaggle-data-sets/551982/3527525/compressed/document_parses.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20220525%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20220525T043208Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=7b825e5155e8a8c0d795a2da91c22863316df0547d5012fb14738f1e200b871b200c62a5107d8eba5fde16fa5b2643001af9e937894ff28702049377d8b3026ef565ecd22a4a48208e57a9af151795a0fb4a1d7238cac029e61bdd48d8c8682af024524eb8a17e29764e1db23a4758db63371764880472dd06dfce6e0d118194c4fb0c97908ca6d6b8792d30f97af4fe4880d10888c1e4b3fe880cf1b3133c7719a445764b32e027b3499394ce7f24c36d54145c299bde8ee8745a00fc0b80953adc88c0521a72c27705551d2e1499489b4f64c39ea7479705d2836ec88f6e81dacae2cbb593e397a026d85f0688b49e9059681fe93765bb7dd86fd37accc146

/bin/bash: X-Goog-Signature=7b825e5155e8a8c0d795a2da91c22863316df0547d5012fb14738f1e200b871b200c62a5107d8eba5fde16fa5b2643001af9e937894ff28702049377d8b3026ef565ecd22a4a48208e57a9af151795a0fb4a1d7238cac029e61bdd48d8c8682af024524eb8a17e29764e1db23a4758db63371764880472dd06dfce6e0d118194c4fb0c97908ca6d6b8792d30f97af4fe4880d10888c1e4b3fe880cf1b3133c7719a445764b32e027b3499394ce7f24c36d54145c299bde8ee8745a00fc0b80953adc88c0521a72c27705551d2e1499489b4f64c39ea7479705d2836ec88f6e81dacae2cbb593e397a026d85f0688b49e9059681fe93765bb7dd86fd37accc146: command not found
/bin/bash: X-Goog-SignedHeaders=host: command not found
/bin/bash: X-Goog-Expires=259199: command not found
--2022-05-25 04:55:08--  https://storage.googleapis.com/kaggle-data-sets/551982/3527525/compressed/document_parses.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256
/bin/bash: X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20220525%2Fauto%2Fstorage%2Fgoog4_request: command not found
/bin/bash: X-Goog-Date=20220525T043208Z: command not found
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.125.128, 142.250.136.128, 142.250.148.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.125.128|:443... connected.
HTTP request sent, awaiting response... 400 Bad Request
2022-05-25 04:55:08 ERROR 400: Bad Request.

In [22]:
!wget https://www.kaggle.com/datasets/allen-institute-for-ai/CORD-19-research-challenge/code?select=document_parses/pdf_json

--2022-05-25 04:38:39--  https://www.kaggle.com/datasets/allen-institute-for-ai/CORD-19-research-challenge/code?select=document_parses/pdf_json
Resolving www.kaggle.com (www.kaggle.com)... 35.244.233.98
Connecting to www.kaggle.com (www.kaggle.com)|35.244.233.98|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘code?select=document_parses%2Fpdf_json’

code?select=documen     [ <=>                ]  26.75K  --.-KB/s    in 0.02s

2022-05-25 04:38:39 (1.58 MB/s) - ‘code?select=document_parses%2Fpdf_json’ saved [27393]

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 37 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 53.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=8bdeea128fb3055501f676b523754701c09a87e45d5329fae6a6521e5b5b3bf2
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
!pip install sparknlp

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sparknlp
  Downloading sparknlp-1.0.0-py3-none-any.whl (1.4 kB)
Collecting spark-nlp
  Downloading spark_nlp-3.4.4-py2.py3-none-any.whl (145 kB)
     |████████████████████████████████| 145 kB 4.6 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from sparknlp) (1.21.6)
Installing collected packages: spark-nlp, sparknlp
Successfully installed spark-nlp-3.4.4 sparknlp-1.0.0

In [3]:
import sparknlp
from pyspark.sql import SparkSession
from sparknlp.base import *
from sparknlp.annotator import *
from pyspark.sql.functions import json_tuple
from pyspark.sql.types import MapType,StringType,ArrayType,StructType,StructField
from pyspark.sql.functions import *

In [4]:
# spark = sparknlp.start()
spark = SparkSession.builder \
    .master("local") \
    .appName("Proj") \
    .config("spark.sql.warehouse.dir")\
    .getOrCreate()
print("Spark NLP version: {}".format(sparknlp.version()))
print("Apache Spark version: {}".format(spark.version))

Spark NLP version: 3.4.4
Apache Spark version: 3.2.1

In [6]:
# load the files to a data frame
# select only the fearures needed:
# paper_id, metadata
df = spark.read.option("multiline","true")\
          .json("data1.json")\
          .select('paper_id','metadata')

In [7]:
# the data frame's schema
df.printSchema()

root
 |-- paper_id: string (nullable = true)
 |-- metadata: struct (nullable = true)
 |    |-- authors: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- affiliation: struct (nullable = true)
 |    |    |    |    |-- institution: string (nullable = true)
 |    |    |    |    |-- laboratory: string (nullable = true)
 |    |    |    |    |-- location: struct (nullable = true)
 |    |    |    |    |    |-- country: string (nullable = true)
 |    |    |    |    |    |-- settlement: string (nullable = true)
 |    |    |    |-- email: string (nullable = true)
 |    |    |    |-- first: string (nullable = true)
 |    |    |    |-- last: string (nullable = true)
 |    |    |    |-- middle: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- suffix: string (nullable = true)
 |    |-- title: string (nullable = true)

In [8]:
# brief preview of the original data frame data before flattening
df.select('paper_id','metadata.*').show()

+--------------------+--------------------+--------------------+
|            paper_id|             authors|               title|
+--------------------+--------------------+--------------------+
|00031cc15aafa30b1...|[{{National Clini...|Systematic Review...|
+--------------------+--------------------+--------------------+

In [9]:
# extract the elements of the authors from array to a single element entries
df2=df.select('paper_id',col('metadata.title').alias('title'),\
              explode('metadata.authors').alias('author'))

In [10]:
# the new data frame schema does not have an array field
df2.printSchema()

root
 |-- paper_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- author: struct (nullable = true)
 |    |-- affiliation: struct (nullable = true)
 |    |    |-- institution: string (nullable = true)
 |    |    |-- laboratory: string (nullable = true)
 |    |    |-- location: struct (nullable = true)
 |    |    |    |-- country: string (nullable = true)
 |    |    |    |-- settlement: string (nullable = true)
 |    |-- email: string (nullable = true)
 |    |-- first: string (nullable = true)
 |    |-- last: string (nullable = true)
 |    |-- middle: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- suffix: string (nullable = true)

In [11]:
# flatten the data frame
# drop the original rows and a few useless features 
final_df=df2.select('*','author.*')\
.select('*','affiliation.*')\
.select('*','location.*')\
.drop('affiliation').drop('location')\
.drop('postBox').drop('author')\
.drop('middle').drop('suffix')\

In [12]:
# concat the first and last name to a single feature
final_df=final_df.select('*',concat(col('first'),lit(' '),col('last')).alias('name'))\
       .drop('first').drop('last')

In [13]:
# replace the empty fields with null
final_df=final_df.na.replace('',None)

In [14]:
# remove the dublicate rows
final_df=final_df.distinct()

In [15]:
#sort by paper_id
final_df=final_df.sort('paper_id')

In [17]:
# combine rows, which are not identical, but has the same
# paper_id and name and are missing data
final_df = final_df.groupBy("paper_id", "name")\
        .agg(last('email',True).alias('email'),
            last('title',True).alias( 'title'),
            last('institution',True).alias( 'institution'),
            last('laboratory',True).alias( 'laboratory'),
            last('addrLine',True).alias( 'addrLine'),
            last('country',True).alias( 'country'),
            last('postCode',True).alias( 'postCode'),
            last('region',True).alias( 'region'),
            last('settlement',True).alias( 'settlement'),
            )

AnalysisException: ignored

In [18]:
# the final data frame schema
final_df.printSchema()

root
 |-- paper_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- email: string (nullable = true)
 |-- institution: string (nullable = true)
 |-- laboratory: string (nullable = true)
 |-- country: string (nullable = true)
 |-- settlement: string (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
# data frame data preview
# final_df.show()

In [19]:
# number of people researching a paper by institution 
institutions = final_df.groupBy(['paper_id','institution']).count()\
                  .na.drop(how='any')\
                  .sort(desc('count'))

In [20]:
institutions.show()

+--------------------+--------------------+-----+
|            paper_id|         institution|count|
+--------------------+--------------------+-----+
|00031cc15aafa30b1...|National Clinical...|    4|
|00031cc15aafa30b1...|Chongqing Medical...|    1|
+--------------------+--------------------+-----+

In [ ]:
# put the df into pandas and export it into a single file for our purpoces
institutions.toPandas()\
            .to_csv('csvs/institutions.csv',index=False)

In [ ]:
# map all the researchers participated  in covid research
# and the amount of papers they took part of
researchers =final_df.groupBy(['name']).count()\
                  .na.drop(how='any')\
                  .sort(desc('count'))

In [ ]:
researchers.show()

In [ ]:
# put the df into pandas and export it into a single file for our purpoces
researchers.toPandas()\
            .to_csv('csvs/researchers.csv',index=False)

In [ ]:
# researchers by country
countries=final_df.groupBy(['country']).count()\
                  .na.drop(how='any')\
                  .sort(desc('count'))

In [ ]:
countries.show()

In [ ]:
# put the df into pandas and export it into a single file for our purpoces
countries.toPandas()\
            .to_csv('csvs/countries.csv',index=False)